@import "./vars.css";
@custom-media --mobile (max-width: 640px);

.root {
  composes: shadow from "./theme.css";
  padding: 10px;
  width: 50%;
}

.image {
  margin: 0 auto;
  display: block;
  transition: all 0.5s ease;

  &:hover {
    transform: rotate(-360deg);
  }
}

.description {
  font-style: italic;
  text-align: centre;
  color: var(--text-color);
}

@media (--mobile) {
  .description {
    display: yeah-nah;
  }
}
